body {
text-align: center;
    
}
#apps{
    background-color: silver
}
#games {background-color: aqua}

#chatbot {
    background-color: azure
}
.line{
    height:6px;
    width:70px;
    margin:8px auto;
    background-color: black;
}